@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

body{
    background-color: #f1f5f8;

    .loading{
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .drink{

        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        button{
            padding: 5px 10px;
            font-size: 16px;
            letter-spacing: 2px;
            background-color: lightseagreen;
            color: white;
            border: none;
            outline: none;
            border-radius: 5px;
            margin: 10px;
            margin-top: 50px;
            cursor: pointer;
        }

        h1{
            margin: 10px;
            margin-bottom: 30px;
        }

        .info{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 80%;
            img{
                width: 30vw;
                border-radius: 5px;
            }
            .details{
                text-align: left;
                padding: 10px 30px;
                line-height: 1.5;
                font-weight: bold;
                .label{
                    background-color: lightseagreen;
                    color: rgb(15, 63, 61);
                    padding: 3px 5px;
                    border-radius: 5px;
                }
            }
        }
    }

    #Main{

        #header{
            padding: 20px;
            text-align: center;
            align-items: center;
            input{
                padding: 5px 10px;
                border: none;
                outline: none;
                font-size: 16px;
                font-weight: bold;
                border-bottom: 3px solid rgb(53, 113, 224);
                background-color: transparent;
                transition: .2s ease-in;
                width: 40%;
            }
            input:hover, input:focus{
                box-shadow: 0px 3px 0 0px rgb(53, 113, 224);
            }
            h1{
                text-align: left;
            }
        }        

        #results{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            .result{
                width: 25vw;
                margin: 50px 20px;
                background: white;
                border-radius: 5px;
                box-shadow: 3px 5px 5px 1px rgba($color: #000000, $alpha: 0.5);
                transition: .2s ease-in;
                img{
                    width: 100%;
                    height: 100%;
                    border-radius: 5px 5px 0 0;
                }
                div{
                    padding: 10px;
                    button{
                        padding: 5px 10px;
                        border: none;
                        outline: none;
                        border-radius: 5px;
                        background-color: lightseagreen;
                        color: white;
                        font-weight: bold;
                        letter-spacing: 2px;
                        cursor: pointer;
                    }
                }
            }
            .result:hover{
                box-shadow: 5px 8px 5px 1px rgba($color: #000000, $alpha: 0.5);
            }
        }

    }
}


@media only screen and (max-width: 750px) {

    .result{
        margin: 20px 10px !important;
        width: 40vw !important;
    }

    .drink{
        .info{
            flex-direction: column;
            img{
                width: 70vw !important;
            }
            .details{
                margin-top: 20px;
                margin-bottom: 50px;
            }
        }
    }

}

@media only screen and (max-width: 600px){

    #header{
        input{
            width: 80% !important;
        }
    }

}

@media only screen and (max-width: 410px) {

    #header{
        h1{
            text-align: center !important;
        }
    }

    .result{
        width: 80vw !important;
    }

}